<div class="row status-bar">
	<div class="small-3 columns status arrow_box green">Mail Envoyé</div>
	<div class="small-3 columns status arrow_box orange">Mail Lu</div>
	<div class="small-3 columns status arrow_box">Paiement</div>
	<div class="small-3 columns status last">Confirmé</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<p><b>Référence :</b> {{ ref }}</p>
		<p><b>Description :</b> {{ name }}</p>
		{{!-- <p><b>Date :</b> {{ date }}</p> --}}
		<p><b>Montant :</b> {{ formatMontant amount }}</p>
		<p>
	</div>
</div>

