<h1>FactuR</h1>

<nav>
  <ul>
    <li>{{#linkTo "factures"}}Voir Factures{{/linkTo}}</li>
    <li>{{#linkTo "facture.new"}}Nouvelle Facture{{/linkTo}}</li>
    <li>{{#linkTo "client.new"}}Nouveau Client{{/linkTo}}</li>
    <li>{{#linkTo "archives"}}Archives{{/linkTo}}</li>
  </ul>
</nav>

{{outlet}}

